body {
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}
#envelopeContainer {
    width: 100vw;
    height: 100vh;
}

#summaryContainer {
    transform: translate(-50%, -50%) scale(10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.iconContainer {
    position: absolute;
    transform: translateX(-50%);
    bottom: calc(230px - 66px);
    left: 50%;
    width: max-content;
    height: max-content;
}

.iconBackground {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0 10px;
    bottom: calc(230px - 66px);
    background-color: #00000080;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid #ffffff 3px;
    text-align: center;
}

.iconBackground.recording {
    background-color: #9D0000;
    animation: record 2s forwards;
}

.iconBackground.recording img {
    box-sizing: border-box;
    padding: 3px;
}

@keyframes record {
    0% { background-color: #00000080 }
    100% { background-color: #9D0000 }
}

.recordingIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.recordingDone {
    position: absolute;
    width: max-content;
    transform: translateX(-50%);
    bottom: calc(230px - 66px);
    left: 50%;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

/** device is wide and touch-based */
@media (min-width: 800px) and (hover: none) {
    .iconContainer {
        position: absolute;
        left: auto;
        right: 66px;
        transform: none;
    }
}

.markStepIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.markStepIcon.pressed {
    filter: brightness(0.5);
}

.ar-icon-layout {
    vertical-align: middle;
}

/*** copied from user-interface/index.css ***/
.minimizedEnvelopeIcon {
    display: inline-block;
    width: 260px;
    height: 260px;
    border-radius: 50px;
    vertical-align: middle;
    background: linear-gradient(90deg, #000000,#000000, #00ffff, #ee7752, #e73c7e, #23a6d5, #23d5ab,#000000, #000000);
    background-size: 2000% 200%;
    animation: gradient 10s infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#label {
    display: inline-block;
    width: calc(100% - 400px);
    background-color: rgba(225,225,225,0.7);
    border-radius: 50px;
    vertical-align: middle;
    padding-left: 20px;
    margin: 30px 30px 30px 40px;
}

#labelTitle {
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    width: calc(100% - 120px);
    font-size: 100px;
    margin: 40px;
}

.longTitle {
    text-overflow: ellipsis;
}

#toggleModeDivContainer {
    position: absolute;
    right: calc(50% + 108px);
    bottom: calc(230px - 66px + 32px - 24px);
}

.toggleModeDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #00000080;
    padding: 3px;
    border-radius: 40px;
}
.toggleModeDiv.disabled {
    pointer-events: none;
}
.toggleModeDiv.disabled p {
    color:  #4B4B4B;
}
.toggleModeDiv p {
    font-family: OpenSans, sans-serif;
    margin: auto;
}
.toggleModeSlider {
    border-radius: 50%;
    border: solid #ffffff 3px;
    background-color: #FFFFFF50;
    width: 40px;
    height: 40px;
    position: absolute;
}
.toggleIcon {
    display: inline-block;
    width: 32px;
    height: 32px;
}
.toggleIcon > img {
    width: 32px;
    height: 32px;
}
.activeToggle {
    opacity: 1;
    transition: .4s;
}
.inactiveToggle {
    opacity: .6;
    transition: .4s;
}
.mode_left {
    left: 0;
    transition: .4s;
}
.mode_right {
    left: 50%;
    transition: .4s;
}

.error-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(0, 0, 0, 0.7);
    border: 2px solid black;
    color: #300;
}
