body {
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}
#envelopeContainer {
    width: 100vw;
    height: 100vh;
}

#summaryContainer {
    transform: translate(-50%, -50%) scale(10, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.iconContainer {
    position: fixed;
    transform: translateX(-50%);
    bottom: calc(230px - 66px);
    left: 50%;
    width: max-content;
    height: max-content;
}

.iconBackground {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 0 10px;
    bottom: calc(230px - 66px);
    background-color: #00000080;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid #ffffff 3px;
    text-align: center;
}

.iconBackground.recording {
    background-color: #9D0000;
    animation: record 2s forwards;
}

.iconBackground.recording img {
    box-sizing: border-box;
    padding: 3px;
}

@keyframes record {
    0% { background-color: #00000080 }
    100% { background-color: #9D0000 }
}

.recordingIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.recordingDone {
    position: absolute;
    width: max-content;
    transform: translateX(-50%);
    bottom: calc(230px - 66px);
    left: 50%;

    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.markStepIcon {
    width: 38px;
    height: 38px;
    margin-top: calc(50% - 19px);
}

.iconBackground.start {
    border-color: green;
}
.iconBackground.end {
    border-color: red;
}

.markStepIcon.pressed {
    filter: brightness(0.5);
}

.ar-icon-layout {
    vertical-align: middle;
}

/*** copied from user-interface/index.css ***/
.minimizedEnvelopeIcon {
    display: inline-block;
    width: 260px;
    height: 260px;
    border-radius: 50px;
    vertical-align: middle;
    background: linear-gradient(90deg, #000000,#000000, #00ffff, #ee7752, #e73c7e, #23a6d5, #23d5ab,#000000, #000000);
    background-size: 2000% 200%;
    animation: gradient 10s infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#label {
    display: inline-block;
    width: calc(100% - 400px);
    background-color: rgba(225,225,225,0.7);
    border-radius: 50px;
    vertical-align: middle;
    padding-left: 20px;
    margin: 30px 30px 30px 40px;
}

#labelTitle {
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
    width: calc(100% - 120px);
    font-size: 100px;
    margin: 40px;
}

.longTitle {
    text-overflow: ellipsis;
}
