@font-face {
    font-family: 'Roboto';
    src: url('resources/roboto.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('resources/roboto-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "Roboto", "Avenir", "Futura", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#button-container {
    position: absolute;
    top: 120px;
    left: 0;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    font-size: 30px;
}

.button-active {
    background-color: royalblue;
    color: white;
}

#detailed-button-container {
    position: absolute;
    bottom: 45px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.measurement-text {
    width: fit-content;
    height: fit-content;
    padding: 8px;
    top: 0;
    left: 0;
    border-radius: 10px;
    transform-origin: center;
    color: white;
    font-size: 20px;
}

#envelopeContainer {
    width: 100vw;
    height: 100vh;
}

.tool-color-gradient {
    /*animation: tool-color-gradient-anim 0.3s infinite alternate;*/
    background: linear-gradient(90deg, #000000,#000000, #00ffff, #ee7752, #e73c7e, #23a6d5, #23d5ab,#000000, #000000);
    background-size: 2000% 200%;
    animation: gradient 10s infinite;
    border-radius: 50px;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

button {
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 15%;
    background-color: black;
    padding: 20px;
    border: none;
    cursor: pointer;
}

button img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: transparent;
}

