body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 1000px;
    height: 500px;
    font-size: 24px;
    text-align: center;
    overflow: visible;
}
/* semi-transparent blue fullscreen div */
#rootElementWhenOpen {
    position: absolute;
    left: 0;
    top: 0;
    /* gets overwritten by the envelope APIs to be fullscreen but this is a default */
    width: 2436px;
    height: 1125px;
    color: white;
}
/* small cyan icon div */
#rootElementWhenClosed {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 500px;
    overflow: visible;
}
#canvas {
    width: 2436px;
    height: 1125px;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
#smallIcon {
    position: absolute;
    left: 150px;
    top: 150px;
    width: 200px;
    height: 200px;
    transition: all 500ms;
}
.fadeoutSmallIcon {
    opacity: 0;
    transform: scale(3.0);
}
#bigIcon {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
    height: 300px;
    transition: all 500ms;
}
.fadeoutBigIcon {
    opacity: 0;
    transform: scale(0.3);
}
.extraBig {
    /*transform: scale(1.5) rotate(120deg);*/
    transform: rotate(120deg);
}
#graphics {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 300px;
    height: 300px;
    transition: all 500ms;
}
.fadeoutGraphics {
    transform: scale(0.1);
    opacity: 0;
}
#details {
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: -1;
    transition: all 500ms;
}
.fadeoutDetails {
    opacity: 0;
}
#mainDetailText {
    position: absolute;
    left: 300px;
    top: 80px;
    line-height: 85px;
    font-size: 42px;
    font-weight: 500; /* semi-bold */
}
#subDetailText {
    position: absolute;
    left: 300px;
    top: 172px;
    line-height: 45px;
    color: cyan;
}
#editNameIcon {
    position: absolute;
    left: 623px;
    top: 71px;
    padding: 30px;
    z-index: 10;
}
